<h2><%= @game.player.name%> chose <%=@player_choice%></h2>
<h2>computer chose <%=@computer_choice%></h2>
<h2><%=@game.winner%></h2>



<% # <%=@choices %> 

<% #not going to work, create instances and constants for player choices to effectively pass rspec %>